<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">

        <li class="active ace-icon fa fa-home home-icon"><span class="marge-left">Dashboard</span></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            your informations
                        </h4>
                        <div>
                            <p class="bloc-information"><span>UID:</span> <span>{{uid}}</span></p>
                            <p class="bloc-information"><span>Nickname</span> <span>{{name}}</span></p>
                            <p class="bloc-information"><span>E-MAIL:</span> <span>{{email}}</span> </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4  col-sm-offset-1">
            <div class="form-group">
                <div class="bloc-buttons">
                <a href="#!/edit-customer/{{uid}}" class="btn btn-primary"><i class="ace-icon fa fa-edit"></i>Edit Account</a>
                <a ng-click="logout();" class="btn btn-transparent"><i class="ace-icon fa fa-close"></i>Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->